<div class="adjective_list">
  {{#each adjectives}}
  <div class="row ml-4">
    <h6 class="row mr-4 text-center">{{this.germanadjective}}</h6>
    <h6 class="row mr-4 text-center">"{{this.englishdefinition}}"</h6>
  </div>
  {{/each}}
</div>