<form>
    <div class="row justify-content-center">
        <h5>Situations where the word might be used (can be broad):</h5>
    </div>
    <div class="row justify-content-center">
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="athome" for="athomeselect">At Home</label>
                <select class="form-control  text-center" id="athomeselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="atwork" for="atworkselect">At Work</label>
                <select class="form-control  text-center" id="atworkselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="dining" for="diningselect">Dining</label>
                <select class="form-control  text-center" id="diningselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="hotel" for="hotelselect">Hotel</label>
                <select class="form-control  text-center" id="hotelselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="travel" for="travelselect">Travel</label>
                <select class="form-control  text-center" id="travelselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="people" for="peopleselect">People</label>
                <select class="form-control  text-center" id="peopleselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="events" for="eventsselect">Events</label>
                <select class="form-control  text-center" id="eventsselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
        <div class="col-2-md ml-4">
            <div class="form-group">
                <label name="shopping" for="shoppingselect">Shopping</label>
                <select class="form-control  text-center" id="shoppingselect">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
</form>