    <div class="row justify-content-center">
        <div class="col-2-md">
            <h5>Present Tense</h5>
        </div>
        <div class="col-10-md">
            <form>
                <div class="form-group row m-1">
                    <label for="1psingular" class="col-sm-1 col-form-label text-right">Ich</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="1psingular" placeholder="1P Singular">
                    </div>
                    <label for="2psingular" class="col-sm-1 col-form-label text-right">Du</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="2psingular" placeholder="2P Singular">
                    </div>
                    <label for="3psingular" class="col-sm-1 col-form-label text-right">Er/Sie/Es</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="3psingular" placeholder="3P Singular">
                    </div>
                </div>
                <div class="form-group row m-1 justicy-content-center">
                    <label for="1pplural" class="col-sm-1 col-form-label text-right">Wir</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="1pplural" placeholder="1P plural">
                    </div>
                    <label for="2pplural" class="col-sm-1 col-form-label text-right">ihr</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="2pplural" placeholder="2P Plural">
                    </div>
                    <label for="3pplural" class="col-sm-1 col-form-label text-right">sie/Sie</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="3pplural" placeholder="3P Plural">
                    </div>
                </div>
            </form>
        </div>
    </div>