{{> mainheader}}

<div class="container maincontainer">
    <div class="row justify-content-center">
        <h3 class=>Display the databases</h3>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary btn-sm mr-3" id="nounDisplay"><h5>Nouns</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="adjectiveDisplay"><h5>Adjectives</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="adverbDisplay"><h5>Adverbs</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="phraseDisplay"><h5>Phrases</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="prepositionDisplay"><h5>Prepositions</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="regVerbDisplay"><h5>Regular Verbs</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="irregVerbDisplay"><h5>Irregular Verbs</h5></button>
        <button type="button" class="btn btn-primary btn-sm mr-3" id="clearDisplay"><h5>Clear page</h5></button>
    </div>
    </br>
    <div class="displayDiv">

    </div>
</div>

<script src="../assets/js/datadisplay.js"></script>