<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <class="row">
            <div class="col-2-md">
                <img src="/public/assets/images/LearnGerman.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-8-md">
                <h1 class="display-4">German Lessons</h1>
                <p class="lead">Working to improve your German? Work here!</p>
            </div>
            </class>
    </div>
</div>