{{> mainheader}}

<div class="container maincontainer">
    <div class="row justify-content-center m-3">
        <div class="col-2-md mr-4 mt-4">
            <h5>Input a German Noun:</h5>
        </div>
        <div class="col-2-md ml-4 mt-4">
            <h5>Word bank for umlaut: ä ö ü</h5>
        </div>
    </div>
    <form>
        <div class="row justify-content-center m-3">
            <div class="col-2-md">
                <div class="form-group">
                    <label name="gender" for="genderselect">Gender</label>
                    <select class="form-control  text-center" id="genderselect">
                        <option>der</option>
                        <option>die</option>
                        <option>das</option>
                    </select>
                </div>
            </div>
            <div class="col-2-md">
                <div class="form-group mr-4">
                    <label for="singularnoun">New Noun</label>
                    <input type="text" name="singularnoun" class="form-control" id="singularnoun"
                        placeholder="singular form">
                </div>
            </div>
            <div class="col-2-md">
                <div class="form-group mr-4">
                    <label for="pluralnoun">Plural</label>
                    <input type="text" name="pluralnoun" class="form-control" id="pluralnoun" placeholder="plural form">
                </div>
            </div>
            <div class="col-2-md">
                <div class="form-group">
                    <label for="englishdefinition">English definition</label>
                    <input type="text" name="englishdefinition" class="form-control" id="englishdefinition"
                        placeholder="English definitions...">
                </div>
            </div>
    </form>

    <div class = "row justify-content-center">
        {{> type }}

        {{> situations}}
    </div>


    <div class="row justify-content-end">
        <div class="col-2-md m-4">
            <input id="newNoun" class="btn btn-primary" type="button" value="Submit">
        </div>
    </div>

</div>

<script src="../assets/js/nouns.js"></script>