{{> mainheader}}

<div class="container maincontainer">
    <div class="row m-3 justify-content-center">
        <div class="col-2-md mr-4 mt-4">
            <h5><em>German Phrases Database Generator</em> - Input a German Phrase:</h5>
        </div>
        <div class="col-2-md ml-4 mt-4">
            <h5>Word bank for umlaut: ä ö ü Ä Ö Ü</h5>
        </div>
    </div>
    <form id="newPhrase" name="newPhrase">
        <div class="row m-3 justify-content-around">
            <div class="col-5-md">
                <div class="form-group mr-4">
                    <label for="germanphrase">German Phrase</label>
                    <input type="text" name="germanphrase" class="form-control" id="germanphrase"
                        placeholder="German Phrase...">
                </div>
            </div>
            <div class="col-5-md">
                <div class="form-group">
                    <label for="englishphrase">English Translation</label>
                    <input type="text" name="englishphrase" class="form-control" id="englishphrase" placeholder="English translation">
                </div>
            </div>
            <div class="col-5-md">
                <div class="form-group">
                    <label for="englishphrase2">Alternate English Translation</label>
                    <input type="text" name="englishphrase2" class="form-control" id="englishphrase2" placeholder="English translation">
                </div>
            </div>
 </form>

    <div class = "row justify-content-center">

        {{> situations}}
    </div>


    <div class="row justify-content-end">
        <div class="col-2-md m-4">
            <input id="newPhrase" class="btn btn-primary" type="button" value="Submit">
        </div>
    </div>

</div>

<script src="../assets/js/phrases.js"></script>