{{> mainheader}}

<div class="container maincontainer">
    <div class="row justify-content-center m-3">
        <div class="col-2-md mr-4 mt-4">
            <h5>First pick whether it is a regular or irregular verb:</h5>
        </div>
    </div>
    <div class ="row justify-content-around m-3">
        <a class="btn btn-success" href="/verbsreg" role="button"><h2>Regular Verb</h2></a>
        <a class="btn btn-primary" href="/verbsirreg" role="button"><h2>Irregular Verb</h2></a>
    </div>
    </br>
</div>