{{> mainheader}}

<div class="container maincontainer">
    <div class="row justify-content-center m-3">
        <div class="col-2-md mr-4 mt-4">
            <h5>Input an irregular German Verb:</h5>
        </div>
        <div class="col-2-md ml-4 mt-4">
            <h5>Word bank for umlaut: ä ö ü</h5>
        </div>
    </div>
    <form>
        <div class="row justify-content-center m-3">
            <div class="col-2-md">
                <div class="form-group mr-4">
                    <label for="adjective">New Verb</label>
                    <input type="text" name="adjective" class="form-control" id="adjective" placeholder="German adjective">
                </div>
            </div>
            <div class="col-2-md">
                <div class="form-group">
                    <label for="englishdefinition">English definition</label>
                    <input type="text" name="englishdefinition" class="form-control" id="englishdefinition"
                        placeholder="English definition...">
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center">
        {{> situations}}
    </div>


    <div class="row justify-content-end">
        <div class="col-2-md m-4">
            <input id="newAdjective" class="btn btn-primary" type="button" value="Submit">
        </div>
    </div>

</div>

<script src="../assets/js/adjectives.js"></script>