/* main css for the handlebars */
body {
    background: url("./images/genericBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    flex: content;
  }

  h1 {
    font-size: 3rem;
  }